body {
    background: linear-gradient(to bottom right, #e3f2fd, #ffffff);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-link i {
    margin-right: 5px;
}

table {
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

    table thead {
        background: #0d6efd;
        color: white;
    }

.btn-primary i,
.btn-danger i,
.btn-warning i,
.btn-info i {
    margin-right: 4px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form label {
    font-weight: 600;
}
.hero-section {
    height: 60vh;
    background: linear-gradient(to bottom right, #0d6efd, #6610f2);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}